<template name="home">
 <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Coffee and Code</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}}
        </ul>
    </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {{#if isInRole 'admin'}}
          {{> eventForm}}
        {{/if}}
        {{> topicForm}}
        {{> listTopics}}
      </div>
      {{> rankEvent}}
    </div>
  </div>
</template>