<template name="miniEvent">
	<div class="col-lg-4">
		<br>
		<p>Data: {{date}}</p>
		{{#if topic}}
			<p>Descrição: {{topic.desc}}</p>
			<p>Instrutor: {{topic.instructor.name}}</p>
			<p>Votos: {{topic.likes}}</p>
		{{else}}
			<p>Nenhum tópico para este evento</p>
		{{/if}}
	</div>
</template>